body{
    background: #97572b;
}
.title{
        text-align: center;
        font-family: Algerian;
    }
    h1,h2,h3,p, li{
        color: #fdf4ec;
        font-weight: 600;
    }
    h1{
        font-size: 64px;
    }
    h2{
        font-size:40px;
    }
    h3{
        font-size:28px;
    }
    p,li{
        font-size:16px;
    }
    .productWindowImg{
        width:80%;
        border-radius:5px;
    }
    .productWindow{
        max-width:300px;
    }
    .productWindow, .card{
        display:block;
        text-align: center;
        margin:auto;
        padding:5px;
        border-style:solid;
        border-width:10px;
        border-color: #3b1f0f;
        margin-top:10px;
        border-radius:5px;
    }
    .carousel .carousel-item {
        min-height: 500px;
    }
   
    .card{
        background-color: #97572b;
    }
    .btn{
        background-color: #3b1f0f;
        border-color: #97572b;
    }
    .icon{
        border-color:#3b1f0f;
        margin: 15px;
    }
    .SoftwareLogo{
        width:100%;
        max-height:150px;
    }

@media screen and (min-width: 800px){
    #menuIcon, #closeIcon{
        display:none;
    }

    .carousel slide  {
        width:50%;
    }
    .productWindowArea{
        display:flex;
        justify-content: center;
        margin-left:auto;
        margin-right:auto;
    }
    .productWindow{
        min-height:500px;
        min-width:300px;
        margin:30px;
    }
    .iconArea{
        display:flex;
        justify-content: space-around;
    }
    .icon{
        width:50%;
    }
    .navbar>ul{
        display:flex;
        list-style: none;
        margin:auto;
    }
    .navbar>ul>a{
        margin:5px;
        text-decoration: none;
    }
    .productMenuArea{
        display:flex;
        justify-content: space-between;
        margin-bottom:20px;
    }
    .productWindow, .card{
        text-align: center;
        padding:5px;
        border-style:solid;
        border-width:10px;
        border-color: #3b1f0f;
        margin-top:10px;
        border-radius:5px;
    }
    .card{
        background-color: #97572b;
        min-width:300px;
        margin:30px;
    }
    .btn{
        background-color: #3b1f0f;
        border-color: #97572b;
    }
    .title{
        text-align: center;
        font-family: Algerian;
    }
    
    footer{
        margin-top:30px;
        text-align: center;
    }
    
    .softwarelogoarea{
        margin-top:30px;
        margin-bottom:50px;
    }
    .textParagraph{
        text-align: center;
        margin-left:3%;
        margin-right:3%;
    }
    .title{
        text-align: center;
    }
    #daveAndTheresaPic{
        width:100%;
    }
    .dropdown{
        text-align: center;
        margin-top:20px;
    }
}
@media screen and (max-width: 800px){
    .navbar{
        display:none;
    }
    #closeIcon{
        display:none;
    }
    #menuIcon{
        display:block;
        margin:auto;
        height:100px;
    }
    .carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 500px;
    }
    .carousel-item img {
        object-fit: scale-down;
    }
    .icon{
        border-color:#3b1f0f;
        margin: 15px;
    }
    .navbar>ul{
        display:block;
        text-align: center;
        list-style: none;
        margin:auto;
    }
    .navbar>ul>a{
        margin:4px;
        text-decoration: none;
    }
    .productWindow, .card{
        width:80%;
        display:block;
        text-align: center;
        margin:auto;
        padding:5px;
        border-style:solid;
        border-width:10px;
        border-color: #3b1f0f;
        margin-top:10px;
        border-radius:5px;
    }
    .card{
        background-color: #97572b;
    }
    .btn{
        background-color: #3b1f0f;
        border-color: #97572b;
    }
    .title{
        text-align: center;
        font-family: Algerian;
    }
    .icon{
        width:20%;
        border-width:80px;
        border-color:#3b1f0f;
        margin: 15px;
    }
    footer{
        margin-top:30px;
        text-align: center;
    }
    .SoftwareLogo{
        max-width:100%;
        margin-left:auto;
        margin-right:auto;
        display:block;
    }
    .softwarelogoarea{
        margin-top:30px;
        margin-bottom:50px;
    }
    .textParagraph{
        text-align: center;
        margin-left:3%;
        margin-right:3%;
    }
    .title{
        text-align: center;
    }
    #daveAndTheresaPic{
        width:100%;
    }
    .dropdown{
        text-align: center;
        margin-top:20px;
    }
}